body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    color: white;
    background-color: #121212;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;

    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10%;
}

header img {
    width: 80px; 
}

#menu {
    display: flex;
    align-items: center;
    gap: 50px;
}

#info_card {
    background-color: #303030;
    display: grid;
    width: 50%;
    /*margin: 75px auto;*/
    margin: 150px auto;
    padding: 0px 10%;
    border: solid;
    border-color: white;
    border-width: 5px;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, auto);
    justify-content: space-between;
    align-items: center;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
}

#info_card img {
    width: 125px;
    grid-row: span 2;
    border: solid;
    border-color: white;
    border-width: 5px;
    border-radius: 50%;
}
