* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0.25rem;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 25px;
}

body {
    color: white;
    background-color: #121212;
}

header {
    background-color: #202020;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.barrier {
    height: 125px;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

#nav_icon {
    width: 45px;
    height: 45px;
    transition: 0.4s;
}

.dropdown button {
    border: none;
    cursor: pointer;
    display: flex;
    background-color: inherit;
    appearance: none;
}

.dropdown a:hover {
    background-color: gray;
}

.menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 50px;
    background-color: #202020;
    min-width: 160px;
    overflow: auto;
    box-shadow: 3px 3px 30px 0px black;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.menu_options {
    display: block;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
}

.show {
    opacity: 1;
    transform: translateY(0px);
    pointer-events: auto;
}

.change {
    transition: 0.4s;
    transform: rotate(-90deg);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 0 5% 0 5%;
    scroll-margin-top: 10rem;
}

#logo_01 {
    width: 200px; 
    border: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 50%;
}

#about section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#about section p {
    text-indent: 25px;
}

#experience {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    padding: 0 5% 0 5%;
}

.sec_title {
    text-align: center;
    text-decoration: underline;
}

#exp_menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.role {
    font-size: 23px;
}

.location {
    font-size: 20px;
}

.date {
    font-size: 17px;
}

.exp_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,1);
}

#works {
    scroll-margin-top: 10rem;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 5% 0 5%;
}

#work_menu {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.work_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #202020;
    border-radius: 25px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,1);
}

.work_box a, .work_link, #copyright a {
    transition: color 0.5s;
}

.work_box a:hover, .work_link:hover, #copyright a:hover {
    color: #3366CC;
}

.work_img {
    display: flex;
    border-bottom: solid;
    border-color: black;
    border-radius: 25px;
    width: 100%;
}

.work_tools {
    border-bottom: solid;
    border-color: gray;
    width: 100%;
    text-align: center;
}

.work_box a {
    color: white;
    text-decoration: none;
}

.work_title {
    font-size: 30px;
}

.work_button {
    padding: 0 20px 0 20px;
    box-shadow: 1px 1px 3px 1px rgba(0,0,0,1);
    border: none;
    border-radius: 25px;
    background-color: #202020;
}

.work_link {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

#contact {
    display: flex;
    flex-direction: column;
    padding: 0 5% 0 5%;
    /*scroll-margin-top: 10rem;*/
}

#contact .container .barrier {
    height: 50px;
}

#contact_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#basic_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#email {
    color: white;
    text-decoration: none;
}

#phone {
    color: white;
    text-decoration: none;
}

#socials nav {
    display: flex;
    gap: 20px;
}

.s_logo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

#gh_icon {
    filter: invert(1);
}

#copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5% 0 5%;
}

#copyright p, #copyright a {
    color: #636363;
    text-decoration: none;
}

#last_barrier {
    height: 25px;
}

/* For screen sizes starting with the iPad Air */
@media screen and (min-width: 750px) and (max-width: 1100px) {
    .nav_bar {
        padding: 30px 5%;
    }

    .dropdown {
        display: static;
        position: static;
    }
    
    .dropdown button {
        display: none;
        border: none;
        cursor: none;
        background-color: none;
        appearance: none;
    }

    .dropdown a {
        transition: color 0.5s;
    }
    
    .dropdown a:hover {
        background-color: transparent;
        color: #3366CC;
    }

    #nav_icon {
        display: none;
        width: 0;
        height: 0;
        transition: none;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
        position: static;
        margin-top: 0;
        background-color: none;
        min-width: 0;
        overflow: none;
        box-shadow: none;
        z-index: 1;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .menu_options {
        color: none;
        padding: 0;
        text-decoration: none;
    }

    #last_barrier {
        height: 50px;
    }
}

@media screen and (min-width: 1100px) {
    .nav_bar {
        padding: 30px 5%;
    }
    
    .dropdown {
        display: static;
        position: static;
    }
    
    .dropdown button {
        display: none;
        border: none;
        cursor: none;
        background-color: none;
        appearance: none;
    }
    
    .dropdown a {
        transition: color 0.5s;
    }
    
    .dropdown a:hover {
        background-color: transparent;
        color: #3366CC;
    }

    #nav_icon {
        display: none;
        width: 0;
        height: 0;
        transition: none;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
        position: static;
        margin-top: 0;
        background-color: none;
        min-width: 0;
        overflow: none;
        box-shadow: none;
        z-index: 3;
        pointer-events: auto;
        opacity: 1;
        transform: none;
        transition: none;
    }

    .menu_options {
        color: none;
        padding: 0;
        text-decoration: none;
    }

    #about {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 100px;
    }
    
    #about section {
        align-items: stretch;
    }
    
    #about section p {
        text-indent: 0;
    }
    
    .role {
        font-size: 25px;
    }
    
    .location {
        font-size: 23px;
    }
    
    .date {
        font-size: 20px;
    }

    .exp_box {
        z-index: 2;
        transform: scale(1);
        transition: transform 1s;
    }

    .exp_box:hover {
        transform: scale(1.05)
    }

    .work_box {
        z-index: 2;
        transform: scale(1);
        transition: transform 1s;
    }

    .work_box:hover {
        z-index: 3;
        transform: scale(1.1);
    }

    .work_box img {
        z-index: 2;
        transform: scale(1);
        transition: transform 5s;
    }

    .work_box:hover img {
        z-index: 3;
        transform: scale(1.15);
    }

    #work_menu {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
    }

    #copyright {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}
